div.titulo{
    text-align: center;
    background-color: antiquewhite;
}
div.enlaces{
    text-align: center;
    background-color: chartreuse;
}
div.somos{
    background-color: orange;
}
div.somos{
    background-color: orange;
}
div.realizamos{
    background-color: orange;
}
span.sueño{
    background-color: blue;
    text-align: center;
    display: block;

}